// styles.scss
@import "_navbar.scss";

$primary-color: #13293D;
$secondary-color: #FFBC0A;
$background: #f5f5f5;
$links: #C200FB;

body {
    background-color: $background;
    color: $secondary-color;
} 

a{
    color: $links;
}